*{
padding:0;
margin:0;
font-family:'Josefin Sans', sans-serif;
box-sizing: border-box;
}
.navigation {
    height: 100vh;
    width: 100%;
    background-image: url(images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    justify-content: space-between;
    display: flex;
   
    align-items: center;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
}
span {
    color: rgb(153, 36, 36);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
nav ul li a {
    color: rgb(45, 153, 59);
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: rgb(153, 36, 36);
}
.btn {
    font-size: 23px;
    color: rgb(255, 255, 255);
    border:  solid transparent;
    background-color: rgb(219, 21, 54) ;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    transition: .4s;
}
.btn:hover {
    transform: scale(1.2);
}
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);   
}
h1 {
    color: rgb(153, 36, 36);
    font-size: 34px;
    margin:  20px 0px 20px;
}
h3 {
    color:aliceblue ;
    padding-left: 20px;
    font-size: 18px;
}
h4 {
    color:aliceblue;
    padding-left: 20px;
    font-size: 18px;
}
.newsletter form input:first-child {
    border: 2px solid rgb(184, 39, 39);
    display: inline-block;
    border-radius: 10px;
}
.formname{
    border: 2px solid rgb(184, 39, 39);
    display: inline-block;
    border-radius: 10px;
}
.submit-btn {
    color:aliceblue;
    background-color: rgb(219, 21, 54);
    border-radius: 10px;
    padding: 3px 3px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;
    border-radius: 10px;
    outline: none;
    display: inline-block;
    box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.541), 0px 0px 40px 6px rgb(0, 0, 0);

    
}
.submit-btn:hover {
    transform: scale(1.1);

}
.about-me {
    background-color:  #0b142e;
    padding: 50px 0px;
    padding-left: 7%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    
}
.about-main h2 {
    font-size: 40px;
}
.about-para {
width: 550px;
}
.about-me img {
    height: auto;
    width: 250px;
    border-radius: 10px;
}
.services-main {
    background-color:  #0b142e;
    padding: 200px 0px;
}
.services-main h2 {
    font-size: 40px;
    padding-left: 45%;
}

.box {
display: flex;
align-items: center;
justify-content:left;
min-height: 450px;


}
.services-main p {
    background: #00010257;
    margin: 15px;
    border-radius: 8px ;
}

.services-main h5  {
    padding-left: 35%;
    font-size: 15px;
}

.services-main i {
    padding-left:40% ;
    font-size: 40px;
    color: rgb(219, 21, 54);
  
}



    